.body {
    background-color: #bd5349;
    font-family: Helvetica;
    
}
.container-prin{
    width: 100%;
    
    background-color: white;
}

.linea-a{
  margin-top: 5px;
  margin-left: 3px;
  height: 30px;
  width: 3px;
  background-color: #02153E;
  box-shadow: 8px #666;
} 
.logo-nav{
    height: 50px;}

.borde-abajo {
        border-bottom: 1px;
        box-shadow: 0px 8px 6px -6px #02153E;
    }

    .buscar {
        border-color: #BD5349;
       border-radius: 20px;
       margin-top: 15px;
      }

  

.img-1 {
    background-image: url(assets/images/visa.png);
    width: 125px;
    height: 75px;
    background-size: cover;
    background-position: center;
  }
  .img-2 {
    background-image: url(assets/images/PSE.png);
    width: 62px;
    height: 58px;
    background-size: cover;
    background-position: center;
  }
  .img-3 {
    background-image: url(assets/images/payu.png);
    width: 125px;
    height: 75px;
    background-size: cover;
    background-position: center;
  }
  .img-4 {
    background-image: url(assets/images/mastercard.png);
    width: 125px;
    height: 75px;
    background-size: cover;
    background-position: center;
  }
  .img-5 {
    background-image: url(assets/images/efecty.png);
    width: 125px;
    height: 75px;
    background-size: cover;
    background-position: center;
  }
  .img-6 {
    background-image: url(assets/images/davivienda.png);
    width: 125px;
    height: 75px;
    background-size: cover;
    background-position: center;
  }
  .img-7 {
    background-image: url(assets/images/bancolombia.png);
    width: 125px;
    height: 75px;
    background-size: cover;
    background-position: center;
  }

  .footer-final {
    background-color: #b9cbd6;
    margin-top: 40px;
  }
  .linea-azul-pequeña {
    margin-top: 20px;
  
    height: 3px;
    width: 250px;
    background-color: #02153e;
    box-shadow: 8px #666;
  }
  
  .contacto {
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .cont {
    font-weight: bold;
  }
  .redes {
    height: 30px;
  }
  .redes-1 {
    margin-top: 10px;
  }
  .opciones-1 {
    margin-top: 90px;
    margin-left: 130px;
  }
  .opciones-2 {
    margin-top: 90px;
    margin-left: 40px;
  }
  .codico-qr {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  .logo-footer {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 8px;
  }
  .img-2l {
    height: 150px;
  }
   
  .logo-footer-img {
    height: 120px;
    width: 120px;
  }
  
  @media (max-width: 1340px) {
    }
    .logo-footer {
      height: 100px;
      width: 100px;
      background-color: white;
      border-radius: 8px;
    }
    .logo-footer-img {
      height: 90px;
      width: 90px;
    }
    .codico-qr {
      height: 100px;
      width: 100px;
    }
  
    h5 {
      font-size: 1rem;
    }
    @media(max-width:970px){
      .hide{
        visibility: hidden;
        font-size: 0;
        width: 0;
        height: 0;
        }
        .no-gap{
          gap:0 !important;

        }

    }
    
  @media (max-width: 790px) {
    .wrap-666{
      flex-wrap:wrap;
            
      }
      .m-a{
        margin-left: 24%;
        margin-bottom: 50px;
      }
  }

  .btn1 {
    background-color: white;
    border-radius: 1ch; width: 30vw;
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    position: relative;
    border: 2px solid #318aac;
    outline: 1px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn1:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
     
  }